/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
}


/*SN-Style block*/
p{text-indent: 25px; text-align: justify;}
.footer{background: url(../img/bg_foot.png) repeat-x top left;}
body{background: url(../img/bg_body.png) repeat top left;}
.head{background: url(../img/bg_head.png) repeat-x top left; margin-top: -10px; padding-top: 10px;}